<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaszka</title>
    <link href="../static/style.css" rel="stylesheet">
</head>

<body>
    <form method="POST">
        <label for="big">Liczby duże:</label>
        <input type="checkbox" name="big">
        <label for="smol">Liczby małe:</label>
        <input type="checkbox" name="smol">
        <label for="special">Specjalne</label>
        <input type="checkbox" name="special">
        <label for="leters">Literki</label>
        <input type="checkbox" name="leters">
        <label for="numbers">Jaką ma hasło długość mieć hmmm</label>
        <input type="number" min="1" name="numbers">
        <button type="submit">Wygenerój</button>

    </form>
    {% if password %}
    <div>
        <strong>Twoje hasło: {{ password }}</strong>
    </div>
    {% endif %}
</body>

</html>